# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=a4f5862878329f6cd1024ed1981ad7ba
TRUSTED_PROXIES=127.0.0.1,REMOTE_ADDR
###< symfony/framework-bundle ###

###> Application ###
APP_CDN=//s3.cuteoutfits.club

## Google Analytics scripts
GA_SCRIPTS_MAIN=
GA_SCRIPTS_NOSCRIPT=
GA_SCRIPTS_ADSENSE=

# google cloud store
API_GC_STORE_BUCKET=
API_GC_STORE_PROJECT_ID=

# SYTE - parsing image service
API_SYTE_BASE_URI=http://syteapi.com/v1.1
API_SYTE_FEED=default
API_SYTE_SIGNATURE=****
API_SYTE_ACCOUNT_ID=****
###< Application ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
###< nelmio/cors-bundle ###

###> php-amqplib/rabbitmq-bundle ###
RABBITMQ_URL=amqp://guest:guest@localhost:5672
###< php-amqplib/rabbitmq-bundle ###

### Elasticsearch settings
ELASTIC_HOST=localhost
ELASTIC_PORT=9200

### Slack alerting
SLACK_WEBHOOK=***
SLACK_CHANNEL=***
SLACK_ENABLED=0

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

###> google/recaptcha ###
# To use Google Recaptcha, you must register a site on Recaptcha's admin panel:
# https://www.google.com/recaptcha/admin
GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET=
###< google/recaptcha ###
